
# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Environment secrets
.env

# IDE settings
.vscode/

# Temporary files
*.tmp

cache/